body {
    position: relative;
    float: none;
    height: 125em;
    background: rgb(0,0,0);
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%); */
    background: #008080;
    background-repeat: no-repeat;
}


.main {
    margin: auto;
    width: 50%;
    height: fit-content;
}

.img {
   margin: auto;
   width: 50%;
   height: fit-content;
   background-color: rgb(192,192,192);
   overflow: hidden;
   /* 16:9 aspect ratio */
   /*padding-top: 56.25%;*/
   position: relative;
   min-width: 256px;
}


.img iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 100%;
  max-width: 512px;
}

iframe {
  border: 5px outset rgb(128,128,128);
}

.card {
  margin: auto;
  width: 50%;
  height: 2.35em;
  background: #000080;
  position: relative;
  min-width: 256px;
}

.card button{
  /*position:absolute;
  right:3px;
  top:3px;*/
  margin:-1em 2px 2px 0;
  float:right;
  width:2em;
  height:2.3em;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:0.7em;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
}

.card p {
  color: white;
}

.card h3 {
  color: white;
}

.card h4 {
  color: white;
}



div {
    border: 5px outset rgb(145,145,145);
    background-color: rgb(192,192,192);
    width: 10em;
}

.nav {
    line-height: 0.1em;
}

/*nav p {
    font-size: 0.8em;
}*/

@font-face {
    font-family: 'w95fa';
    src: url('fonts/W95FA/w95fa.woff2') format('woff2'),
    url('fonts/W95FA/w95fa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  h3 {
    font-family: 'w95fa';
  }

  h4 {
    font-family: 'w95fa';
  }
  

  p {
    font-family: 'w95fa'; 
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
      color: blue;
  }

  .clickable:link {
      text-decoration: underline;
      color:blue
  }

  .clickable:visited {
    text-decoration: underline;
    color: purple;
  }